<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.fundamental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFundamental">
        <activity
            android:name=".mynavigation.ProfileActivity"
            android:exported="true" />
        <activity android:name=".mynavigation.MyNavigationActivity">
            <nav-graph android:value="@navigation/main_navigation" />
        </activity>
        <activity android:name=".customview.MyCustomViewActivity" />
        <activity android:name=".mytesting.MyUnitTestingActivity" />
        <activity android:name=".mylistview.MyListViewActivity" />
        <activity android:name=".myfragment.MyFragmentActivity" />
        <activity android:name=".myintent.GetPictActivity" />
        <activity android:name=".myrecyclerview.RecyclerViewActivity" />
        <activity android:name=".myviewsandviewg.MyViewAndViewGroupActivity" />
        <activity android:name=".myintent.MoveWithDataActivity" />
        <activity android:name=".myintent.MoveActivity" />
        <activity android:name=".myintent.MyIntentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myservice.MyServiceActivity" />
        <activity android:name=".mybackgroundthread.MyBackgroundThreadActivity" />

        <service
            android:name=".myservice.MyService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>

